.container {
  margin: 0 30px;
}

nav {
  background-color: darkslateblue;
  border-bottom: 1px solid gray;
}

.links {
  list-style-type: none;
  color: white;
  display: flex;
}

.link {
  color: white;
  margin-left: 15px;
}

