.container {
  margin: 0 30px;
}

nav {
  background-color: darkslateblue;
  border-bottom: 1px solid gray;
}

.links {
  list-style-type: none;
  color: white;
  display: flex;
}

.link {
  color: white;
  margin-left: 15px;
}

.profile {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  margin-left: 15%;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.name {
  font-weight: bold;
  margin-left: 5px;
}

img {
  border: 1px solid gray;
  border-radius: 99px;
}

.flex {
  border-left: 1px solid gray;
  border-radius: 10px;
  display: flex;
  margin-left: 10px;
}

.last-box {
  margin-left: 25px;
}